// Color
$color-primary: #000000;
$color-title: #000000;
$color-second: #548235;
$color-third: #707070;
$color-four: #70AD47;

$color-link: #005DFF;
$color-hover: #548235;
$color-required: #ff5555;
$color-white: #ffffff;
$color-cancel-hover: #D72619;
$color-submit-hover: #48CDFF;

// Background
$background-body: #ffffff;
$background-footer: #000000;

$background-primary: #548235;
$background-second: #E2F0D9;
$background-third: #F5F6FA;
$background-four: #F2F2F2;
$background-five: #FFE8E6;
$background-hover: #548235;
$background-toolbar-tinimce: #E5E5E5;
$background-menu-bar: #f0f0f0;
$background-menu-bar-hover: #F11B0B;


// Border color
$border-color: #aaa;
$border-color-second: #e9e9e9;
$border-color-third: #e0e0e0;
$border-color-four: #aaaaaa;